{% load static %}

{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'opt' %}">
        <img src=" {% static "images/logo.png" %} " width="30" height="30" class="d-inline-block align-top" alt="">
        MITASA
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'opt' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'listMember' %}">List Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accountSetting' %}">Setting</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <span class='text-light'>Hello, {{request.user}}</span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
  </nav> {% endcomment %}





